
@import 'utils';

.detail {
    background: $oc-gray-3;
    .form {
        display: flex;
        flex-direction: column;
        .id {

        }

        .checked {

        }

        .paid_amount {

        }

        .buyer_tel {

        }
        .ordered_list {

        }
        .ordered_number {

        }
        .buyer_email {

        }
        .buyer_name {

        }
        .buyer_postcode {

        }
        .created_at {

        }
        .buyer_addr {

        }
    }
}