@import 'utils';
.cart-table {
    width: 100%;
    margin: 0 auto;
    @include media("<medium") {
        width: 95%;
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    @include media("<=small") {
        width: 250px;
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .cart-content {
        @include media("<medium") {
            display: none;
        }
        background: $oc-gray-1;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            .heading {
                flex: 1;
                padding: 1rem;
            }
            .heading+.heading {
                border-left: 1px solid $oc-gray-5;
            }
            border-bottom: 1px solid $oc-gray-5;
        }
        .body {
            height: 100%;
            .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                .content {
                    flex: 1;
                    justify-content: center;
                    padding: 1rem; // border-bottom: 1px solid $oc-gray-5;
                    .image {
                        width: 100%;
                    }
                }
                .content+.content {
                    border-left: 1px solid $oc-gray-5;
                }
            }
        }
        .total-price {
            text-align: right;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
    .cart-content-mobile {
        @include media(">=medium") {
            display: none;
        }
        background: $oc-gray-3;
        width: 95%;
        @include media("<=small") {
            width: 280px;
        }
        .line {
            display: flex;
            flex-direction: row;
            .left-line {
                flex: 0.3;
                .thumbnail {
                    // justify-content: center;
                    // align-items: center;
                    .image {
                        width: 100%;
                    }
                }
            }
            .right-line {
                flex: 0.6;
                .title {}
                .number {}
                .price {}
            }
            .remove-line {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0.1;
                .remove-mark {}
            }
        }
    }
    .order-button {
        display: flex;
        justify-content: center;
    }
}