
@import 'utils';

.post-body {
    display: flex;
    flex-direction: column;
    // width: 1024px;
    margin: 0 auto;

    .descriptions {
        
    }

    @include media("<medium") {
        width: 100%;
    }

    @include media("<=small") {
        width: 100%;
    }
}